body{
    
}
  
  .dock {
      height: 90px;
    list-style: none;
    margin: auto;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.365);
    border-radius: 10px;
  }
  .dock img {
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .dock li {
    transition: all 0.2s ease-out;
    transform: scale(0.8);
    margin: 0;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: 0;
  }
  .dock li:hover {
    transform: scale(1.05);
    margin: 10px;
    margin-top: -10px;
    position: relative;
  }
  